body{
    font-family: "Poppins", sans-serif;
}

h1{
    color: #00938d;
}

b{
    color: #ff9567;
}

.gambarprofil{
    margin-top: 10px;
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.title{
    text-align: center;
    background-color: #f9efc4;
    padding-top: 25px;
    padding-bottom: 25px;
}

.title p{
    width: 600px;
    margin: auto;
}

.link-keluar ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 8px;
}

.link-keluar p{
    width: 600px;
    margin: auto;
}

.loremipsum{
    text-align: center;
    background-color: #efe6d2;
    padding-top: 25px;
    padding-bottom: 25px;
}

.loremipsum p{
    margin-left: 15%;
    margin-right:  15%;
}
